.btn:hover {
    background-color: #1E73BE;
}
.btnn {
    background-color:#074287; 
    color:#FFFFFF
}
tr:hover {
    background-color: #FAFAFA;
}
.btn {
    background-color: #1E73BE;
    font-family:Verdana; 
    color: #FFFFFF;
}